# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\implementation-of-design-patterns-from-my-eyes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
